<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar> -->
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Silhouette of mountains" src="../../assets/IMG_8125.jpg" />
      <ion-card-header>
        <ion-card-title>Matheus Estevão</ion-card-title>
        <ion-card-subtitle>Turma: ADS0302N </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
       Matricula: 22206003
      </ion-card-content>
    </ion-card>
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>

